@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 @font-face{
  font-family: "Bebas";
  src: url("./fonts/Bebas.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "Poppins";
  src: url("./fonts/Poppins.ttf");
  font-weight: 300;
  font-style: normal;
  font-size: 0.9em;
 }
@layer base {


body {
   background-color: #f0f0f0;
   overflow-x: hidden;
   position: relative;
   font-family: "Montserrat", sans-serif!important;

}


  .dark body {
    background-color: #282828;
    color: #ffffff; 

  }

  .calcHeight{
    height: calc(100dvh - 70px);
  }
 
}



